<div class="form-group">
    <label>Nombre Completo Cliente/Representate Legal: {{session.data.authenticated.name}}</label>
</div>
<div class="form-group">
    <label>Nombre de la Empresa: {{session.data.authenticated.namecompany}}</label>
</div> 
<div class="form-group">
    <label>Dirección: {{session.data.authenticated.address}}</label>
</div>
<div class="form-group">
    <label>Teléfono: {{session.data.authenticated.phone}}</label>
</div>
<div class="form-group">
    <label>Correo electrónico: {{session.data.authenticated.email}}</label>
</div>
<div class="form-group">
    <label>CI Cliente/Representate Legal: {{session.data.authenticated.ci}}</label>
</div>
    
