<div class="form-group">
<label>Nombre: {{session.data.authenticated.name}}</label>
</div>
<div class="form-group">
    <label>Apellidos: {{session.data.authenticated.lastname}}</label>
</div>
<div class="form-group">
    <label>Dirección: {{session.data.authenticated.address}}</label>
</div>
<div class="form-group">
    <label>Teléfono: {{session.data.authenticated.phone}}</label>
</div>
<div class="form-group">
    <label>Correo electrónico: {{session.data.authenticated.email}}</label>
</div>
<div class="form-group">
    <label>CI: {{session.data.authenticated.ci}}</label>
</div>
    
