<div class="col-sm-6">
    <div class="form-group">
        <label>Destino:</label>
        <select  {{action 'loadSends'}} id="destinos" class="form-control">
            <option value="0">Elige un destino</option>
            {{#each destinations as |destination|}}
                <option value="{{destination.id}}">{{destination.name}} - {{destination.city}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Entrega:</label>
        <select id="entregas" class="form-control">
            <option value="0">Elige tu tipo de entrega</option>
            <option value="Domicilio">A domicilio</option>
            <option value="Transportista">Recoger en transportista</option>
            <option value="Tienda">Recoger en tienda</option>
        </select>
    </div>
</div>
    {{!-- <div class="form-group">
        <label>Tiendas o Sucursales:</label>
        <select id="tiendas" class="form-control">
            <option value="0">Elige una tienda o sucursal</option>
            {{#each offices as |office|}}
                <option value="{{office.name}}">{{office.name}} - {{office.city}}</option>
            {{/each}}
        </select>
    </div> --}}
<div class="col-sm-6">
    <div class="form-group">
        <label>Delivery y Costo:</label>
        <select id="deliveries" class="form-control">
            <option value="0">Elige un delivery</option>
             {{#each deliveries as |delivery|}}
                <option value="{{delivery.id}}">{{delivery.name}} // Costo: {{delivery.cost}} - Costo minimo: {{delivery.costmin}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Forma de pago:</label><br/>
        <input type="radio" name="pay" value="Tarjeta"> Tarjeta crédito débito <i class="fa fa-credit-card" style="font-size: 2.5em;"></i><br>
        <input type="radio" name="pay" value="Deposito"> Depósito Bancario <i class="fa fa-file-text" style="font-size: 2.5em;"></i><br>
        <input type="radio" name="pay" value="Contraentrega"> Al momento de la entrega <i class="fa fa-money" style="font-size: 2.5em;"></i><br>
    </div>
</div>

<div class="text-center">
    <button {{action 'save' order.id}} id="save-button" class="btn btn-info">Aceptar</button>
    <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
</div>
    
