{{#each orders as |order|}}
    {{#if (eq order.client.mail session.data.authenticated.email)}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="title text-center">Número de orden: {{order.id}}</h2>
        </div>
        <div class="panel-body">
            <h4>Productos:</h4>
            <div class="table-responsive">
                <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                    <th>Código</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each order.carts as |cart|}}
                    <tr>
                        <td>{{cart.product_variant.code}}</td>
                        <td>{{cart.quantity}}</td>
                        {{#if (eq cart.role "Mayorista ")}}
                        <td>Bs. {{cart.product_variant.wholesaleprice}}</td>
                        {{/if}}
                        {{#if (eq cart.role "Especialista ")}}
                        <td>Bs. {{cart.product_variant.specialistprice}}</td>
                        {{/if}}
                        {{#if (eq cart.role "Cliente DOMUS ")}}
                        <td>Bs. {{cart.product_variant.importerprice}}</td>
                        {{/if}}
                        {{#if (eq cart.role "Cliente Minorista ")}}
                            {{#if (eq cart.product_variant.offerprice null)}}
                                <td>Bs. {{cart.product_variant.price}}</td>
                            {{else}}
                                <td>Bs. {{cart.product_variant.offerprice}}</td>
                            {{/if}}
                        {{/if}}
                        <td><img src="{{cart.product_variant.product.picture}}" height="80" width="80"></td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
            <h4>Forma de pago:</h4><p>{{order.typepay}}</p>
            {{#if (eq order.typepay "Deposito")}}
                {{#if (eq order.state "Nuevo")}}
                    <a type="button" href="/pay/{{order.id}}" class="btn btn-info">Subir depósito</a>
                {{else}}
                    <p><b>Comprobante subido</b></p>
                {{/if}}
            {{/if}}
            <h4>Forma de entrega:</h4><p>{{order.typedelivery}}</p>
            {{#if (eq order.typedelivery "Tienda")}}
                <h4>Tienda:</h4><p>{{order.office}}</p>
            {{/if}}
            <h4>Medio de envío:</h4>
            <p>{{order.delivery.name}}</p>
            <h4>Estado:</h4>
            <p>{{order.state}}</p>
        </div>
    </div>
    {{/if}}
{{/each}}
 <center><a href ="/" type="button" class="btn btn-default">Volver</a></center>