{{#each products as |product|}}
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
					<div class="productinfo text-center">
						<img src="{{product.picture}}" alt="" />
						<h2>Bs. {{product.price}}</h2>
						<p>{{product.name}}</p>
						<button {{action 'addToCart' product}} class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</button>
					</div>
					<div class="product-overlay">
						<div class="overlay-content">
							<h2>Bs. {{product.price}}</h2>
							<p>{{product.name}}</p>
							<button {{action 'addToCart' product}} class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</button>
						</div>
					</div>
			</div>
		</div>
	</div>
{{/each}}