{{outlet}}
<h1>New Cart</h1>
<form>
  <div>
    <label>Product:</label>
    {{input type="text" value=model.product}}
  </div>
  <div>
    <label>Quantity:</label>
    {{input type="text" value=model.quantity}}
  </div>
  <div>
    <label>Order:</label>
    
  </div>
  <div>
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  </div>
</form>
<ul>
  {{#each orders as |order|}}
    <li value="value1">{{order.client}}</li> 
  {{/each}}
</ul>