{{outlet}}
<h1>New Order</h1>
<form>
  <div>
    <label>Reserve:</label>
    {{input type="text" value=model.orderdate}}
  </div>
  <div>
    <label>Client:</label>
    {{input type="text" value=model.client}}
  </div>
  <div>
    <label>Confirmed:</label>
    {{input type="text" value=model.confirmed}}
  </div>
  <div>
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  </div>
</form>
