{{outlet}}
<div class="container">
    <h1>Productos en Carrito</h1>
    {{#each model.product_variants as |variant|}}
        {{#each model.items as |item|}}
            {{#if (is-equal variant.id item.variant_id) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><p>{{variant.code}}</p></h3>
                    </div>
                    <div class="panel-body">
                        <p>Descripción:</p>
                        <p>{{variant.description}}</p>
                        {{!-- <p>Precio:</p>
                        {{product.price}} Bs. --}}
                        <p>Cantidad:</p>
                        {{item.quantity}}
                        <button {{action 'addQuantity' item}}type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        <button {{action 'restQuantity' item}}type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button {{action 'deleteToCart' item}} type="button" class="btn btn-danger">Quitar del carrito</button>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{/each}}
    <a href ="/" type="button" class="btn btn-default">Seguir Comprando</a>
    <a href="/order" type="button" class="btn btn-warning">Continuar con la Compra</a>
</div>