{{outlet}}

<section>
	<div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
				<h2 class="title text-center">Productos en el carrito</h2>
                <div class="border-panel">
                {{#each model.items as |item|}}
                    {{#each model.product_variants as |variant|}}
                        {{#if (is-equal variant.id item.variant_id) }}
                        <div {{action 'changeBorder'}}>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="title text-center">{{variant.code}}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-4">
                                        <img src="{{variant.product.picture}}" height="200" width="200">
                                    </div>
                                    <h4>Descripción:</h4>
                                    <p>{{variant.description}}</p>
                                    <h4>Precio:</h4>
                                    {{#if (not-eq item.role null)}}
                                        {{#if (eq item.role 'Mayorista ')}}
                                            Bs. {{multiplication variant.wholesaleprice item.quantity}}
                                        {{/if}}
                                
                                        {{#if (eq item.role 'Especialista ')}}
                                            Bs. {{multiplication variant.specialistprice item.quantity}}
                                        {{/if}}		

                                        {{#if (eq item.role 'Cliente DOMUS ')}}
                                            Bs. {{multiplication variant.importerprice item.quantity}}
                                        {{/if}}

                                        {{#if (eq item.role 'Cliente Minorista ')}}
                                            Bs. {{multiplication variant.price item.quantity}}
                                        {{/if}}
                                    {{else}}
                                        {{#if (eq variant.offerprice null)}}
                                            Bs. {{multiplication variant.price item.quantity}}
                                        {{else}}  
                                            OFERTA: Bs. {{multiplication variant.offerprice item.quantity}}
                                        {{/if}}
                                    {{/if}}
                                    <h4>Cantidad:</h4>
                                    <div class="col-xs-2">
                                            {{input type="number" class="form-control" value=item.quantity}}
                                             <button {{action 'updateQuantity' item item.quantity}} type="button" class="btn btn-default">Actualizar<br/>Cantidad</button>
                                    </div>
                                    <button {{action 'addQuantity' item variant}} type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                    <button {{action 'restQuantity' item variant}}type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                    <button {{action 'deleteToCart' item variant}} type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Quitar del carrito</button>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
                </div>
            </div>
            
            {{#if (eq model.items.length 0)}}
                    <br/>
                    <br/>
                    <center>
                        <h2>No se ha agregado productos.</h2>
                        <br/>
                     <a href ="/" type="button" class="btn btn-default">Volver</a>
                    </center>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
            {{else}}
            <h2 align="right">Total: {{suma}}</h2>
            <button {{action 'deleteAll' model.items}} type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Eiminar todo</button>
            <center>
                <a href ="javascript:history.back(-1);" type="button" class="btn btn-default">Seguir Comprando</a>
                {{#if (not-eq model.items.firstObject.role null)}}
                    <a href="/order" type="button" class="btn btn-info">Continuar con la Compra</a>
                {{else}}
                     <a href="/register" type="button" class="btn btn-info">Continuar con la Compra</a>
                {{/if}}
            </center>
            <br/>
            {{/if}}
        </div>
    </div>
</section>