{{outlet}}

<section>
	<div class="container">
		<div class="row">
			<!-- Left sideBar -->
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<!-- Left sideBar -->
			<div class="col-sm-9 padding-right">
				<h2 class="title text-center">{{model.category.name}}</h2>
				<p class="justified-text">
					{{model.category.description}}</p>

					{{#each model.category.subcategories as |subcategory|}}
						<h4 class="title">{{subcategory.name}}</h4>
						<p class="justified-text">
						{{subcategory.description}}</p>
					<div class="recommended_items"><!--features_items-->
						{{#each subcategory.products as |product|}}
						<div class="col-sm-3">
							<a class="product-image-wrapper" href="/product-details/{{product.id}}">
								<div class="single-products">
									<div class="productinfo text-center">
										<img class="img-responsive" src="{{product.picture}}" alt="" />
										<h4>{{product.name}}</h4>
										<p>{{truncate-text product.description limit=65}}</p>
									</div>
								</div>
							</a>
						</div>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</div>
		</div>
</section>
