{{outlet}}
<section>
	<div class="container">
		<div class="row">
			<!-- Left sideBar -->
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<!-- Left sideBar -->
			
			<div class="row">
                <div class="col-lg-8">
                    
                        {{g-map lat="-17.385878" lng="-66.154054" zoom=10}}
                    
                </div>
                <div class="col-lg-4">
                    <h4>Dirección</h4>
                    <p>
                    {{model.contact.lastObject.address}}
                    </p>

                    <h4>Teléfonos</h4>
                    <p>
                    {{model.contact.lastObject.phone}}
                    </p>
                    <h4>Correo electrónico</h4>
                    <p>
                    {{model.contact.lastObject.email}}
                    </p>
                </div>
            </div>
        </div>
	</div>
</section>

