{{outlet}}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 padding-right">
				<h2 class="title text-center">Iniciar sesión</h2>
                <form {{action "authenticate" on="submit"}} class="form-horizontal" >
                    <div class="form-group">
                        <label>Correo electrónico:</label>
                        {{input  type="text" class="form-control" value=identification }}
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        {{input  type="password" class="form-control" value=password }}
                    </div>
                    <center>
                        <button type="submit" class="btn btn-info">Ingresar</button>
                        <br/>
                        <h4>¿No tienes cuenta? <a href="#" {{action 'showModal'}}>Registrate</a></h4>
                        <br/>
                    </center>
                 </form>
			</div>
		</div>
	</div>
</section>