{{outlet}}
<section>
    <div class="container">
        <div class="row">
			<div class="col-sm-12 padding-right">
				<h2 class="title text-center">Datos Personales de Envío</h2>
                {{#if (not-eq model.items.firstObject.role null)}}
                {{form-order destinations=model.destinations}}
                {{else}}
                <div class="form-group">
                    <label>Correo electrónico:</label>
                    {{input type="text" class="form-control" value=model.mail}}
                    
                </div>
                <div class="form-group">
                    <label>Nombre Completo Cliente/Representate Legal:</label>
                    {{input type="text" class="form-control" value=model.name}}
                </div>
                <div class="form-group">
                    <label>CI Cliente/Representate Legal:</label>
                    {{input type="number" class="form-control" value=model.ci}}
                </div>
                <div class="form-group">
                    <label>Dirección:</label>
                    {{input type="text" class="form-control" value=model.address}}
                </div>
                <div class="form-group">
                    <label>Teléfono:</label>
                    {{input type="number" class="form-control" value=model.phone}}
                </div>
                <div class="form-group">
                    <label>Celular:</label>
                    {{input type="number" class="form-control" value=model.cellphone}}
                </div>
                <div class="form-group">
                    <label>Celular de WhatsApp:</label>
                    {{input type="number" class="form-control" value=model.cellwsp}}
                </div>
                <div class="form-group">
                    <label>Nombre para la Factura:</label>
                    {{input type="text" class="form-control" value=model.nameinvoice}}
                </div>
                <div class="form-group">
                    <label>NIT Factura Cliente/Representate Legal:</label>
                    {{input type="number" class="form-control" value=model.nit}}
                </div>
                <div class="form-group">
                    <label>Forma de pago:</label>
                    <select id="pagos" name="pagos" class="form-control">
                        <option value="Tarjeta">Tarjeta débito o crédito</option>
                        <option value="Contraentrega">Al momento de la entrega</option>
                        <option value="Deposito">Depósito Bancario</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Entrega:</label>
                    <select {{action 'selected'}} id="opcion" name="opcion" class="form-control">
                        <option value="Tienda">Para recoger en tienda</option>
                        <option value="Domicilio">A domicilio o en Transportista</option>
                    </select>
                </div>
                <div id="dest" style="display:none;" class="form-group">
                    <label>Destinos:</label>
                    <select {{action 'loadDeliveries'}} id="destinos" class="form-control" >
                        <option value="0">Selecciona departamento y ciudad</option>
                        {{#each model.destinations as |destination|}}
                            <option value="{{destination.id}}">{{destination.name}} - {{destination.city}}</option>
                        {{/each}}
                    </select>
                </div>
                <div id="deliv" style="display:none;" class="form-group">
                    <label>Delivery y Costo:</label>
                    <select id="deliveries" class="form-control">
                    </select>
                </div>
                <center>
                    <button {{action 'save'}} class="btn btn-info">Aceptar</button>
                    <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
                </center>
                {{/if}}
                <br/>
                <br/>
            </div>
        </div>
	</div>
</section>
