{{outlet}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
				<h2 class="title text-center">Pagar productos</h2>
                <h4>Número de orden: {{model.order.id}}</h4>
                {{#each model.product_variants as |variant|}}
                    {{#each model.order.carts as |cart|}}
                        {{#if (is-equal variant.id cart.product_variant.id) }}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="title text-center">{{variant.code}}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-4">
                                        <img src="{{variant.product.picture}}" height="200" width="200">
                                    </div>
                                    <h4>Descripción:</h4>
                                    <p>{{variant.description}}</p>
                                    <h4>Cantidad:</h4>
                                    <p>{{cart.quantity}}</p>
                                    <h4>Monto total cancelar por producto:</h4>
                                    {{#if (eq variant.offerprice null)}}
                                        {{#if (eq cart.role "Mayorista ")}}
                                            {{multiplication variant.wholesaleprice cart.quantity}} Bs.
                                        {{/if}}
                                        {{#if (eq cart.role "Especialista ")}}
                                            {{multiplication variant.specialistprice cart.quantity}} Bs.
                                        {{/if}}
                                        {{#if (eq cart.role "Cliente DOMUS ")}}
                                            {{multiplication variant.importerprice cart.quantity}} Bs.
                                        {{/if}}
                                        {{#if (eq cart.role null)}}
                                            {{multiplication variant.price cart.quantity}} Bs.
                                        {{/if}}
                                        {{#if (eq cart.role "Cliente Minorista ")}}
                                            {{multiplication variant.price cart.quantity}} Bs.
                                        {{/if}}
                                    {{else}}
                                        {{multiplication variant.offerprice cart.quantity}} Bs.
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}} 
                {{/each}}
                <h4>Costos de envío: {{model.order.cost}} Bs. </h4>
                <h2 align="right">Total: {{model.order.total}} Bs. </h2>
                
                {{#if (eq model.order.typedelivery "Domicilio")}}
                    <h4>Recuerda que los gastos de envio serán considerados en el cobro.</h4>
                {{/if}}
                {{#if (eq model.order.typedelivery "Transportista")}}
                    <h4>Recuerda que los gastos de envio serán considerados en el cobro.</h4>
                {{/if}}
                {{#if (eq model.order.typedelivery "Tienda")}}
                    <h4>Puedes pasar por tu pedido dentro de 24 horas, a partir de este momento. 
                        Por favor revisa nuestra dirección y teléfonos, en la sección de <a  href="/contact">Contactos</a>.
                        No olvides revisar tu número de pedido, en el historial de compras, para hacer más facil la búsqueda de la entrega, o puedes exportar en PDF los detalles de tú pedido
                        dando click <a href="#" target="_blank" {{action 'exportPDF'}}> aquí.</a>
                    </h4>
                {{/if}}
                {{#if (eq model.order.typepay "Contraentrega")}}
                    <h4>¡Muchas gracias por la confianza! Puedes ponerte en contacto con nosotros o revisar tu historial de compras para ver el estado de tu pedido.</h4>
                     <a href="/" class="btn btn-info">Entendido</a>
                {{/if}} 
                {{#if (eq model.order.typepay "Deposito")}}
                    <h4>Para completar tu compra, por favor realiza un deposito a una de las cuentas indicadas:<br/><br/></h4>
                        <b><div class="table-responsive">
				            <table class="table table-striped table-hover">
                                <thead>
                                    <th>Entidad Bancaria</th>
                                    <th>Número de Cuenta</th>
                                    <th>Nombre del Titular</th>
                                    <th>Moneda de Cuenta</th>					        					
                                </thead>
                                <tbody>
                                {{#each model.banks as |bank|}}
                                    <tr>
                                        <td align="justify">
                                            {{bank.name}}
                                        </td>
                                        <td align="justify">
                                            {{bank.acount}}
                                        </td>
                                        <td align="justify">
                                            {{bank.nameaccount}}
                                        </td>
                                        <td align="justify">
                                            {{bank.typemoney}}
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div></b>
                        <h4>Posteriormente sube una foto o captura del comprobante para que podamos preparar tu pedido.
                            No te preocupes si esta pestaña se cierra, puedes volver a este punto, buscando en tu historial de compras 
                            el NÚMERO DE ORDEN {{model.order.id}}.
                        </h4>
                    <center>
                        <img id="output" height="400" width="350" hidden={{shouldHideImage}}>
                        <p></p>
                        {{x-file-input class="custom-class" multiplicationiple=false name="files" action='didSelectImage' accept="image/*" alt="Subir Imagen"}}
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width:100%" id="mensaje"></div>
                    </center>
                    <a href="/" class="btn btn-info">Aceptar</a>
                {{/if}}
                {{#if (eq model.order.typepay "Tarjeta")}}
                    <a  type="button" class="btn btn-info" {{action 'creditPay' model.host model.order.id}}>Pagar</a>
                {{/if}}
                <button {{action 'cancelAll' model.order.id}}type="button" class="btn btn-danger">Cancelar orden</button>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
 <div  style="display:none;" class="col-sm-7 padding-right" id="imprimir">
        <h4><center>PRODUCTOS ADQUIRIDOS</center></h4>
        <h4>Número de orden: {{model.order.id}}</h4>
        {{#each model.product_variants as |variant|}}
            {{#each model.order.carts as |cart|}}
                {{#if (is-equal variant.id cart.product_variant.id) }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="title text-center">{{variant.code}}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <img src="{{variant.product.picture}}" height="160" width="160">
                            </div>
                            <h4>Descripción:</h4>
                            <p>{{variant.description}}</p>
                            <h4>Cantidad:</h4>
                            <p>{{cart.quantity}}</p>
                            <h4>Monto total cancelar por producto:</h4>
                            {{#if (eq variant.offerprice null)}}
                                {{#if (eq cart.role "Mayorista ")}}
                                    {{multiplication variant.wholesaleprice cart.quantity}} Bs.
                                {{/if}}
                                {{#if (eq cart.role "Especialista ")}}
                                    {{multiplication variant.specialistprice cart.quantity}} Bs.
                                {{/if}}
                                {{#if (eq cart.role "Cliente DOMUS ")}}
                                    {{multiplication variant.importerprice cart.quantity}} Bs.
                                {{/if}}
                                {{#if (eq cart.role null)}}
                                    {{multiplication variant.price cart.quantity}} Bs.
                                {{/if}}
                                {{#if (eq cart.role "Cliente Minorista ")}}
                                    {{multiplication variant.price cart.quantity}} Bs.
                                {{/if}}
                            {{else}}
                                {{multiplication variant.offerprice cart.quantity}} Bs.
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            {{/each}} 
        {{/each}}
        <h2 align="right">Total: {{model.order.total}} Bs. </h2>
    </div>