{{outlet}}
<div class="container">
  <h1>Pagar productos</h1>
    {{#each model.products as |product|}}
        {{#each model.items as |item|}}
            {{#if (is-equal product.id item.product_id) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><p>{{product.name}}</p></h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{product.picture}}" width="200" height="200" />
                         <p>Descripción:</p>
                        <p>{{product.description}}</p>
                        <p>Monto total cancelar:</p>
                        {{mult product.price item.quantity}} Bs.
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{/each}}
    <a href ="http://www.todo-construccion.com/pay/{{model.orders.lastObject.id}}" type="button" class="btn btn-default">Pagar</a>
</div>