{{outlet}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
				<h2 class="title text-center">Pagar productos</h2>
                {{#each model.product_variants as |variant|}}
                    {{#each model.items as |item|}}
                        {{#if (is-equal variant.id item.variant_id) }}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="title text-center">{{variant.code}}</h2>
                                </div>
                                <div class="panel-body">
                                    <h4>Descripción:</h4>
                                    <p>{{variant.description}}</p>
                                    <h4>Monto total cancelar:</h4>
                                    {{#if (eq item.role "Mayorista")}}
                                        {{mult variant.wholesaleprice item.quantity}} Bs.
                                    {{/if}}
                                     {{#if (eq item.role "Especialista")}}
                                        {{mult variant.specialistprice item.quantity}} Bs.
                                    {{/if}}
                                    {{#if (eq item.role "Distribuidor")}}
                                        {{mult variant.importerprice item.quantity}} Bs.
                                    {{/if}}
                                    {{#if (eq item.role " ")}}
                                        {{mult variant.price item.quantity}} Bs.
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
                <a href ="{{model.host}}/pay/{{model.order.id}}" type="button" class="btn btn-info">Pagar</a>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
