{{outlet}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
				<h2 class="title text-center">Pagar productos</h2>
                {{#each model.product_variants as |variant|}}
                    {{#each model.items as |item|}}
                        {{#if (is-equal variant.id item.variant_id) }}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="title text-center">{{variant.code}}</h2>
                                </div>
                                <div class="panel-body">
                                    <h4>Descripción:</h4>
                                    <p>{{variant.description}}</p>
                                    <h4>Monto total cancelar:</h4>
                                    {{mult variant.price item.quantity}} Bs.
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
                <a href ="http://localhost:3000/pay/{{model.orders.lastObject.id}}" type="button" class="btn btn-info">Pagar</a>
                {{!-- <a href ="http://todoconstruccion-api.herokuapp.com/pay/{{model.orders.lastObject.id}}" type="button" class="btn btn-info">Pagar</a> --}}
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
