<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">{{model.product.code}}</h2>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                              <div class="product-slider">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div id="carousel" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                              
                                                <a href="#" class="item active" data-toggle="modal" data-target="#product-picture-1"><img class="mi-img" src="{{model.product.picture}}"></a>
                                                <a href="#" class="item" data-toggle="modal" data-target="#product-picture-2"><img class="mi-img" src="{{model.product.picture2}}"></a>
                                                <a href="#" class="item" data-toggle="modal" data-target="#product-picture-3"><img class="mi-img" src="{{model.product.picture3}}"></a>
                                                <a href="#" class="item" data-toggle="modal" data-target="#product-picture-4"><img class="mi-img" src="{{model.product.picture4}}"></a>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                <div class="carousel-inner">
                                                <div class="item active">
                                                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="{{model.product.picture}}" ></div>
                                                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="{{model.product.picture2}}"></div>
                                                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="{{model.product.picture3}}"></div>
                                                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{model.product.picture4}}"></div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-sm-5">
                                        <h4>Nombre:</h4>
                                        {{model.product.name}}
                                        <h4>Descripción:</h4>
                                        {{model.product.description}}
                                        <h4>Fabricante:</h4>
                                        <p>{{model.product.manufacturer.name}}</p>
                                        <h4>Proveedor:</h4>
                                        <p>{{model.product.provider.name}}</p>
                                        <h4>Medida:</h4>
                                        <p>{{model.product.measure.name}}</p>
                                        {{#if (not-eq model.product.details "/details/original/missing.png")}}
                                            <p class="justified-text">
                                                <a target="_blank" href="{{model.host}}/{{model.product.details}}" class="btn btn-primary">Descargar ficha técnica </a>
                                            </p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                                    {{product-details product=model.product product_variants=model.product_variants items=model.items}}
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="container">
		<div class="row">
			<div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Productos Relacionados</h2>
                    {{#each model.product.category.products as |product|}}
                        {{#if (not-eq model.product.id product.id) }}
                        <div class="col-sm-3">
                            <a class="product-image-wrapper" href="/product-details/{{product.id}}">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{product.picture}}" alt="" />
                                        <h2>{{product.code}}</h2>
                                        <p>{{truncate-text product.description limit=65}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- Picture 1 Modal -->
    <div class="modal fade" id="product-picture-1" tabindex="-1" role="dialog" aria-labelledby="pictureModal">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title text-center">{{model.product.name}}</h2>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <img width="550" height="550" src="{{model.product.picture}}">
                    </center>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Fin Picture 1 Modal -->

     <!-- Picture 2 Modal -->
    <div class="modal fade" id="product-picture-2" tabindex="-1" role="dialog" aria-labelledby="pictureModal">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title text-center">{{model.product.name}}</h2>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <img width="550" height="550" src="{{model.product.picture2}}">
                    </center>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Fin Picture 2 Modal -->

    <!-- Picture 3 Modal -->
    <div class="modal fade" id="product-picture-3" tabindex="-1" role="dialog" aria-labelledby="pictureModal">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title text-center">{{model.product.name}}</h2>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <img width="550" height="550" src="{{model.product.picture3}}">
                    </center>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Fin Picture 3 Modal -->

    <!-- Picture 4 Modal -->
    <div class="modal fade" id="product-picture-4" tabindex="-1" role="dialog" aria-labelledby="pictureModal">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title text-center">{{model.product.name}}</h2>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <img width="550" height="550" src="{{model.product.picture4}}">
                    </center>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Fin Picture 4 Modal -->
</section>