<section>
	<div class="container">
		<div class="row">
			{{left-sidebar categories=model.categories manufacturers=model.manufacturers extras=model.extras}}
			<div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">{{model.product.code}}</h2>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <h4>{{model.product.name}}</h4>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                {{#each model.product.product_variants as |variant|}}
                                    <li data-target="#myCarousel" data-slide-to="{{variant.id}}" class="active"></li>
                                {{/each}}
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    {{#each model.product.product_variants as |variant|}}
                                        {{#if (eq variant model.product.product_variants.firstObject)}}
                                        <div class="item active">
                                            <h4 id="child">{{variant.code}}</h4>
                                            <img src="{{variant.picture}}" class="img-thumbnail">
                                        </div>
                                        {{else}}
                                        <div class="item">
                                            <h4 id="child">{{variant.code}}</h4>
                                            <img src="{{variant.picture}}" class="img-thumbnail">    
                                        </div>
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <h4>Descripción:</h4>
                            {{model.product.description}}
                            <h4>Fabricante:</h4>
                            <p>{{model.product.manufacturer.name}}</p>
                            <h4>Proveedor:</h4>
                            <p>{{model.product.provider.name}}</p>
                            <h4>Medida:</h4>
                            <p>{{model.product.measure.name}}</p>
                             {{#if (not-eq model.product.details "/details/original/missing.png")}}
                                <p class="justified-text">
                                    <a target="_blank" href="{{host}}/{{model.product.details}}" class="btn btn-primary">Descargar ficha técnica </a>
                                </p>
                            {{/if}}
                            {{product-details product=model.product product_variants=model.product_variants items=model.items}}
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>