{{outlet}}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 padding-right">
				<h2 class="title text-center">Registro de usuario</h2>
                <form class="form-horizontal" >
                    <div class="form-group">
                        <label>Nombres:</label>
                        {{input type="text" class="form-control" value=name}}
                    </div>
                    <div class="form-group">
                        <label>Apellidos:</label>
                        {{input type="text" class="form-control" value=lastname}}
                    </div>
                    <div class="form-group">
                        <label>CI:</label>
                        {{input type="number" class="form-control" value=ci}}
                    </div>
                    <div class="form-group">
                        <label>NIT:</label>
                        {{input type="number" class="form-control" value=nit}}
                    </div>
                    <div class="form-group">
                        <label>Dirección:</label>
                        {{input type="text" class="form-control" value=address}}
                    </div>
                    <div class="form-group">
                        <label>Teléfono:</label>
                        {{input type="number" class="form-control" value=phone}}
                    </div>
                    <div class="form-group">
                        <label>Correo electrónico:</label>
                        {{input type="text" class="form-control" value=email}}
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        {{input type="password" class="form-control" value=password}}
                    </div>
                     <div class="form-group">
                        <label>Confirmar contraseña:</label>
                        {{input type="password" class="form-control" value=password_confirmation}}
                    </div>
                    <div class="form-group">
                         <label>CI/NIT</label>
                         <p>Por favor suba una imagen de su carnet de identidad o el nit de su negocio/empresa,
                             el nombre de la imagen debe ser el del propietario o del su negocio/empresa. <br/>
                             Para cargar una imagen click en el texto 'Subir Imagen'.
                         </p>
                        <center>
                            <img id="output" height="600" width="600" hidden={{shouldHideImage}}>
                            <p></p>
                            {{x-file-input class="custom-class" multiple=false name="files" action='didSelectImage' accept="image/*" alt="Subir Imagen"}}
                        </center>
                    </div>
                    <center>
                        <button {{action 'save'}} class="btn btn-info">Aceptar</button>
                        <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
                        <br/>
                        <br/>
                    </center>
                </form>
			</div>
		</div>
	</div>
</section>